<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Idade</title>
</head>
<body>
    <h1>Alterar Idade</h1>
    <form action="/alterar_idade/" method="post">
        <input type="text" name="nome" placeholder="Nome" required><br>
        <input type="number" name="nova_idade" min="1" max="150" placeholder="Nova Idade" required><br>
        <button type="submit">Alterar</button>
    </form>
</body>
</html>